body{
    background-image:url(./assets/pink\ dust.png);
    color: white;
}
h1{
    font-family: 'Cormorant Garamond', serif;
}
nav, body{
    font-family: 'Cormorant Garamond', serif;
}
nav{
    font-weight:30px
}
.emailme{
    font-size: 20px;
    font-weight:30%;
}
#contactbtn:hover{
    background-color: rgba(0,0,0,0.4);

    
}
#contactbtn{
    background-color:grey;
}